body{
    background-color: rgb(29, 97, 74);
    opacity: 0.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border:4px powderblue;
    padding:30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: lowercase;
    animation: mymove 5s infinite;
    background-image: url(https://i.pinimg.com/564x/07/3d/31/073d3185a2fbd4c00278980e781ee105.jpg);
}
h1{
    background-color: powderblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border:2px powderblue;
    padding:30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: lowercase;
}
h2{
    background-color: powderblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border:5px powderblue;
    padding:30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: lowercase;
    background-image: url(https://i.pinimg.com/564x/e0/d7/1d/e0d71d72bbb191608d914c88f9820a31.jpg);
    background-size: 100px 80px;
}
h3{
    background-color:powderblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border:2px powderblue;
    padding:30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: lowercase;
}
h4{
    background-color: powderblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border:2px powderblue;
    padding:30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: lowercase;
}
h5{
    background-color: powderblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border:2px powderblue;
    padding:30px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    letter-spacing: 2px;
    text-transform: lowercase;
}