body{
    background-color: pink;
    font-family: monospace;
    font-size:40px ;
    border:2px powderblue;
    padding:30px;
    }
    h1{
        background-color: pink;
        font-family: monospace;
        font-size:40px ;
        border:2px powderblue;
        padding:30px;

    }
    h2{
        background-color: pink;
        font-family: monospace;
        font-size:40px ;
        border:2px powderblue;
        padding:30px;

        
    }
    h3{
        background-color: pink;
        font-family: monospace;
        font-size:40px ;
        border:2px powderblue;
        padding:30px;


    }
    h4{
        background-color: pink;
        font-family: monospace;
        font-size:40px ;
        border:2px powderblue;
        padding:30px;

    }
    h5{
        background-color: pink;
        font-family: monospace;
        font-size:40px ;
        border:2px powderblue;
        padding:30px;


    }
    h6{
        background-color: pink;
        font-family: monospace;
        font-size:40px ;
        border:2px powderblue;
        padding:30px;
    }